bottleneck==1.4.2
brotlicffi==1.0.9.2
evaluate==0.4.5
hf-xet==1.1.5
jaraco.collections==5.1.0
numexpr==2.10.1
pip-chill==1.0.3
platformdirs==4.2.2
protobuf==5.29.3
pysocks==1.7.1
scikit-learn==1.6.1
tomli==2.0.1
torch==2.7.1
transformers==4.51.3
